@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: proxima-400;
  src: url(../shared/media/fonts/proxima-nova/Fontspring-DEMO-proximanova-regular.otf);
}
@font-face {
  font-family: poppins-400;
  src: url(../shared/media/fonts/poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-500;
  src: url(../shared/media/fonts/poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: poppins-600;
  src: url(../shared/media/fonts/poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppins-700;
  src: url(../shared/media/fonts/poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: raleway-700;
  src: url(../shared/media/fonts/raleway/Raleway-Bold.ttf);
}
.poppins-600 {
  font-family: poppins-600;
}
.poppins-700 {
  font-family: poppins-700;
}
.raleway-700 {
  font-family: raleway-700;
}
.poppins-500 {
  font-family: poppins-500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #22262a;
}
button, input{
  outline: none;
  border: none;
}
body {
  font-family: poppins-400;
  height: 100%;
}

.proxima-400 {
  font-family: proxima-400;
}

.hero-image{
background-image: url('../shared/media/imgs/banner.png');
}
.mobile-image{
  background-image: url("../shared/media/imgs/mobile-banner.png");
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #40bfff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #359ed3;
}
